{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block extra_head %}
<link href="/static/css/register.css" rel="stylesheet">
{% endblock extra_head %}
{% block content %}
      <div class="header">
          <nav>
              <ul class="nav nav-pills pull-right">
                  <li role="presentation" ><a href="/">Home</a></li>
                  <li role="presentation"><a href="#">Sign In</a></li>
                  <li role="presentation" class="active"><a href="#">Sign Up</a></li>
              </ul>
          </nav>
          <h3 class="text-muted">{{ config.COMPANY_TAGLINE }}</h3>
      </div>

      <div class="jumbotron">
          <h1>{{ config.COMPANY_NAME }}</h1>
          <form class="form-signin">
              <label for="inputName" class="sr-only">Name</label>
              <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

              <button id="btnRegister" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
          </form>
      </div>
{% endblock content %}
